<!DOCTYPE html>
<html lang="en">
<head>
    <title>OAuth 2.0 Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="/css/styles.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body class="d-flex h-100 text-center text-bg-dark">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<main class="w-100 m-auto">
    <h1 class="h3 mb-3 fw-normal">Let me Spring you | Login via OAuth 2</h1>
    <div class="btn-group" role="group" aria-label="Login via OAuth 2">
        <a class="btn btn-warning" href="http://localhost:8080/oauth2/authorization/GOOGLE">
            <i class="bi bi-google"></i> OOGLE
        </a>
        <a class="btn btn-warning" href="http://localhost:8080/oauth2/authorization/FACEBOOK">
            <i class="bi bi-facebook"></i> FACEBOOK
        </a>
        <a class="btn btn-warning" href="http://localhost:8080/oauth2/authorization/GITHUB">
            <i class="bi bi-github"></i> GITHUB
        </a>
    </div>
</main>
</body>
</html>